

.Boton {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    font-size: 18px;
    background: transparent;
    color: white;
    border: 1px solid white;
}

.Boton:hover {
    cursor: pointer;
    text-decoration: underline;
}