.div {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 700px;
    margin: auto;
    color: white;
    border: 1px solid white;
    border-radius: 17px;

}

.formulario {
    padding: 60px 70px 0px 70px;
    align-content: center;
}

h2 {
    margin: 0;
    margin-bottom: 40px;
}

.div_NA{
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.NombreApellido, .Correo, .Contraseña{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 50px;
    margin-bottom: 20px;
}

.input {
    justify-content: center;
    background: transparent;
    border-style: initial;
    border-bottom: solid 2px white;
    width: 250px;
    outline: none;
    color: white;
}

.input-correo {
    background: transparent;
    border-style: initial;
    border-bottom: solid 2px white;
    width: 550px;
    outline: none;
    color: white;
    
}

.ContraseñaGenero {
    display: flex;
    flex-direction: row;
    outline: none;
    color: white;
}

.Genero {
    display: flex;
    flex-direction: row;
}

.labelGenero {
    display: flex;
    align-items: center;
}

.input-radio1 {
    margin-right: 25px;
}