.Boton {
    display: flex;
    flex-direction: row;
    gap: 230px;
    margin-bottom: 0;;
}

button {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    font-size: 15px;
    background: transparent;
    color: white;
    border: 1px solid white;
}

button:hover {
    cursor: pointer;
    background: transparent;
    text-decoration: underline;
}
