.Boton {
    display: flex;
    flex-direction: row;
    gap: 105px;
    margin-bottom: 0;
}

button {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    font-size: 15px;
    background: black;
    color: white;
    border: 1px solid white;
}

button:hover {
    cursor: pointer;
    color: white;
}